# .gitinore
# === ML model & data files ===
ml-backend/species_models/*.pkl
ml-backend/*.csv
ml-backend/species_data/*.csv
*.csv
*.json

# === Python ===
*.pyc
*.pyo
*.pyd
__pycache__/

# === Virtual Environments ===
ml-backend/venv/
rasa-venv/

# === TensorFlow & large binaries ===
ml-backend/venv/Lib/site-packages/*tensorflow*
ml-backend/venv/Lib/site-packages/clang/native/libclang.dll
ml-backend/venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd

# === Node.js ===
node_modules/
chatbot-backend/node-server/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.pnp
.pnp.js

# === Django ===
db.sqlite3
/static/

# === Environment ===
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# === Logs, coverage, and temp files ===
*.log
*.tmp
/coverage
.DS_Store

# === Rasa ===
rasa/models/
rasa/rasa.db
chatbot-backend/rasa/.rasa/cache/

# === Secrets ===
firebase-service-account.json
